.transaction-new > * {
  border-top: 1px solid $light-gray-border;
}

.topbar {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;

  p {
    font-size: 18px;
    margin: 0;
  }

  i {
    padding: 20px;
  }
}

.value {
  font-size: 2rem;
  margin: 0;
  padding: 16px;
  padding-left: 0;
  text-align: right;
}

.transaction-categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;

  p {
    padding-left: 16px;
    width: 100%;
  }

  .transaction-categories-icons {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    i {
      padding: 8px 0;
      text-align: center;
      width: 20%;
    }
  }
}

.transaction-input {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;

  button {
    background: none;
    border: 0;
    border-bottom: 1px solid $light-gray-border;
    font-size: 18px;
    outline: none;
    padding: 14px;
    width: calc(100% /3);

    &:active {
      background: $active-button-background;
    }

    &:nth-child(3n + 2) {
      border-left: 1px solid $light-gray-border;
      border-right: 1px solid $light-gray-border;
    }
  }
}
