@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?b3qe4k');
  src:  url('fonts/icons.eot?b3qe4k#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?b3qe4k') format('truetype'),
    url('fonts/icons.woff?b3qe4k') format('woff'),
    url('fonts/icons.svg?b3qe4k#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e145";
}
.icon-backspace:before {
  content: "\e14a";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-home:before {
  content: "\e88a";
}
.icon-restaurant_menu:before {
  content: "\e561";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-glass:before {
  content: "\f000";
}
.icon-book:before {
  content: "\f02d";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-plane:before {
  content: "\f072";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
