@import 'base/variables';

@import '~normalize.css/normalize';
@import url('https://code.getmdl.io/1.3.0/material.lime-red.min.css');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import 'components/AppNav';
@import 'components/Calendar';
@import 'components/TransactionNew';

body {
  background: $light-gray-background;
  cursor: default;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

main {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

button,
i,
li {
  cursor: pointer;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
